<h1>{{title}}</h1>
<span>Date: {{dateNow.toLocaleDateString()}}</span>
<br>
<span>Time: {{dateNow.toLocaleTimeString()}}</span>
<!-- String interpolation -->
<h2>{{"Hola mundo ".repeat(3)}}</h2>
<hr>

<h2>{{propertyBinding}}</h2>
<p>This part is for {{stringInterpolation}}</p>
<p>Hi I'm {{person.name}} and I'm {{person.age}} years old</p>

<img height="100" src={{person.avatar}} alt="">
<progress max="100" [value]="person.age"></progress>
<button [disabled]="btnDisabled">Click me!</button>
<hr>

<h2>{{eventBinding}}</h2>

<button (click)="buttonToggle()">Toggle</button>
<button (click)="increaseAge()">Add 1 year</button>
<input type="text" [value]="person.name" (keyup)="changeName($event)">

<h2>{{dataBindind}}</h2>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{nameInput.valid}}</p>
<br>
<input type="number" max="99" min="18" required #ageInput="ngModel" [(ngModel)]="person.age">
<p *ngIf="person.age >= 18; else elseBlock">You get access to this content</p>
<p>Valid: {{ageInput.valid}}</p>
<ng-template #elseBlock>
  <p>Your are so young!</p>
</ng-template>
<hr>
<h2>{{controlStructures}}</h2>
<ul>
  <li *ngIf="names.length <= 0">There is not names</li>
  <li *ngFor="let name of names; index as i">index: {{i}}, name: {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<input type="text" required #newNameInput="ngModel" [(ngModel)]="addNewName">
<div [ngSwitch]="addNewName">
  <p *ngSwitchCase="'Luis'">
    The person is Luis
  </p>
  <p *ngSwitchCase="'Raul'">
    The persone is Raul
  </p>
  <p *ngSwitchCase="''">
    There is not persone
  </p>
  <p *ngSwitchDefault>
    The person is not Luis or Raul
  </p>
</div>
<button *ngIf="newNameInput.valid; else myBlock" (click)="addName()">Add New Name</button>
<ng-template #myBlock>
  <button disabled>Add New Name</button>
</ng-template>

<hr>

<h2>{{classAndStyle}}</h2>

<p class="message-error" [class.invalid]="newNameInput.invalid">
  The field is required
</p>
<label [style.font-style]="newNameInput.invalid ? 'italic' : 'normal'">
  Text text text
</label>
<div>
  <div>
    <input type="number" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar">
  </div>
</div>

<h2>{{ngClassAndNgStyle}}</h2>

<hr class="line-error"
  [ngClass]="{
    'valid': newNameInput.valid,
    'invalid': newNameInput.invalid
  }"
>

<div class="box-color">
  <div>
    <input type="number" [(ngModel)]="boxProp.width">
    <input type="number" [(ngModel)]="boxProp.height">
    <input type="color" [(ngModel)]="boxProp.background">
  </div>
  <div>
    <div class="color-box"
      [ngStyle]="{
        'width.px': boxProp.width,
        'height.px': boxProp.height,
        'background-color': boxProp.background,
        'display': 'block'
      }"
    ></div>
  </div>
</div>

<hr>
<h2>Forms</h2>
<form (ngSubmit)="onRegister()" #registerForm="ngForm">
  <div class="input-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required #nameRegister="ngModel" [(ngModel)]="register.name">
    <p [style.display]="nameRegister.invalid ? 'block' : 'none'">Field empty</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required #emailRegister="ngModel" [(ngModel)]="register.email">
    <p [style.display]="emailRegister.invalid ? 'block' : 'none'">Field empty</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required #passwordRegister="ngModel" [(ngModel)]="register.password">
    <p [style.opacity]="passwordRegister.invalid ? 1 : 0">Field empty</p>
  </div>
  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>
